<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导航栏</title>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/base/base.js"></script>
    <link href="/css/myUIstyle.css" rel="stylesheet" />
    <script src="/scripts/Admin/borrow.js"></script>
</head>
<body>

<div th:replace="/admin/top1 :: mytop" ></div>

<div th:replace="/admin/side1 :: side" ></div>

<div style="margin-left:18%;padding:1px 16px;">

    <div >
        <div><!--左半部分-->
            <h3 style="text-align:left">查询书籍</h3>
            <form th:action="@{/book/admin_find_books(pageNum=1)}" method="post" id="findBookByNameForm">
                <label>请输入书名</label>
                <input type="search" name="bookName">
                <input type="submit" value="查询" style="background-color: #aaaaaa;color: white;">
            </form>
        </div>
    </div>


    <div style="float: left;width: 50%;height: 100%"><!--右半部分-->
        <h3 style="text-align: left">查询结果</h3>
        <table>
            <tr>
                <th>书名</th>
                <th>作者</th>
                <th>出版社</th>
                <th>状态</th>
                <th>库存</th>
            </tr>
            <tr th:each="book:${b}">
                <td><label th:text="${book.getB_name()}"></label></td>
                <td><label th:text="${book.getB_author()}"></label></td>
                <td><label th:text="${book.getB_press()}"></label></td>
                <td><label th:text="${book.getB_status()}"></label></td>
                <td><label th:text="${book.getB_repertory()}"></label></td>
                <td th:if="${book.getB_repertory()} > 0"><button th:value="${book.getB_id()}">借书</button></td>
            </tr>
        </table>
        <br><br><br><br><br><br><br>
        <label>请输入借书证</label>
        <input type="text" id="rId">
    </div>
</div>

</body>
</html>
