<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>thymeleaf简单示例</title>
</head>
<body>
<h1>Hello Thymeleaf</h1>

<table class="">
    <tr>
        <td>作者</td>
        <td>书名</td>
        <td>内容</td>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.getB_author()}"></td>
        <td th:text="${book.getB_name()}"></td>
        <td th:text="${book.getB_brief()}"></td>
    </tr>
</table>

<section>第二段</section>
<form id="userForm">
    <input id="id" name="id" th:value="${user.id}"/>
    <input id="username" name="username" th:value="${user.username}"/>
    <input id="password" name="password" th:value="${user.password}"/>
</form>

<div th:text="hello"></div>

<img src="/image/template.jpg">
</body>
</html>